$primary-color: #02234b;
// $primary-font-family: sans-serif;
$primary-font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$secondary-color: #FFFFFF;
$mobile-breakpoint: 500px;